@model COPSurvey.Models.InUseDevice

@{
    ViewBag.Title = "Device Detail: " + Model.SerialNumber;
}

<h2>Details for Device</h2>
<p>Use this area to enter your survey data.</p>

<div class="About">
    <div class="row">
        <div class="col-md-12">
            <div class="well">

                <div class="form-group">
                    <label for="SerialNumber" class="label-control">Serial Number:</label>
                    <input type="text" id="SerialNumber" name="SerialNumber" class="form-control" value="@Model.SerialNumber" disabled/>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <div class="form-group">
                    <label for="PCName" class="label-control">PC Name:</label>
                    <input type="text" id="PCName" name="PCName" class="form-control" value="@Model.PCName" />
                </div>

                <div class="form-group">
                    <label for="SupportGroup" class="label-control">Support Group:</label>
                    <input type="text" id="SupportGroup" name="SupportGroup" class="form-control" value="@Model.SupportGroup" />
                </div>

                <div class="form-group">
                    <label for="DeviceType" class="label-control">Device Type:</label>
                    <input type="text" id="DeviceType" name="DeviceType" class="form-control" value="@Model.DeviceType" />
                </div>

                <div class="form-group">
                    <label for="Building" class="label-control">Building:</label>
                    <input type="text" id="Building" name="Building" class="form-control" value="@Model.Building" />
                </div>

                <div class="form-group">
                    <label for="Floor" class="label-control">Floor:</label>
                    <input type="text" id="Floor" name="Floor" class="form-control" value="@Model.Floor" />
                </div>

                <div class="form-group">
                    <label for="Room" class="label-control">Room:</label>
                    <input type="text" id="Room" name="Room" class="form-control" value="@Model.Room" />
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-lg " id="Update">
                        <span class="glyphicon glyphicon-save"></span>Update
                    </button>
                </div>
        </div>
    </div>
</div>


