@model COPSurvey.Models.InUseDevice

@{
    ViewBag.Title = "Device Detail: " + Model.SerialNumber;

    var deviceTypeListItems = new[]
    {
        new SelectListItem(){ Value = "Desktop", Text = "SFF", Selected = true },
        new SelectListItem(){ Value = "Desktop Mini", Text = "Desktop Mini", Selected = false },
        new SelectListItem(){ Value = "Mini Tower", Text = "Mini Tower", Selected = false },
        new SelectListItem(){ Value = "Laptop", Text = "Laptop", Selected = false }
    };

    var businessUseListItems = new[]
    {
        new SelectListItem(){ Value = "Unclassified", Text = "Unclassified", Selected = true },
        new SelectListItem(){ Value = "Non-Clinical", Text = "Non-Clinical", Selected = false },
        new SelectListItem(){ Value = "Clinical", Text = "Clinical", Selected = false },
        new SelectListItem(){ Value = "Patient Care", Text = "Patient Care", Selected = false }
    };
}

<h2>Details for Device</h2>
<p>Use this area to enter your survey data.</p>

<div class="About">
    <div class="row">
        <div class="col-md-12">
            <div class="well">

                <div class="form-group">
                    @Html.LabelFor(m => m.SerialNumber, new { @class = "control-label" })
                    <input type="text" id="SerialNumber" name="SerialNumber" class="form-control" value="@Model.SerialNumber" disabled/>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well">

                <div class="form-group">
                    @Html.LabelFor(m => m.PCName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.PCName, new { @class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.SupportGroup, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.SupportGroup, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DeviceType, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.DeviceType, deviceTypeListItems, new { @class = "form-control"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.BusinessUse, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.BusinessUse, businessUseListItems, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Building, new { @class = "control-label" })
                    <input type="text" id="Building" name="Building" class="form-control" value="@Model.Building" />
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Floor, new { @class = "control-label" })
                    <input type="text" id="Floor" name="Floor" class="form-control" value="@Model.Floor" />
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Room, new { @class = "control-label" })
                    <input type="text" id="Room" name="Room" class="form-control" value="@Model.Room" />
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-lg " id="Update">
                        <span class="glyphicon glyphicon-save"></span>Update
                    </button>
                </div>
        </div>
    </div>
</div>


